<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car list</title>
    <link th:href="@{/statics/images/icon.png}" rel="icon" type="image/x-icon" href="../../statics/images/icon.png">
    <script type="text/javascript" th:src="@{/statics/js/utils/SortFilterForm.js}" src="../../statics/js/utils/SortFilterForm.js"></script>
    <script type="text/javascript" th:src="@{/statics/js/utils/UrlManager.js}" src="../../statics/js/utils/UrlManager.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/statics/utils/language.css}" rel="stylesheet" href="../../statics/utils/language.css">
    <style>
        .big-text {
            font-size: 3.5em !important;
        }

        .car-icon img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .language img {
            width: 1.5em;
            height: 1em;
        }

        .header-links {
            height: fit-content;
        }

        .nav-link:not(:last-child) {
            border-right: 1px solid gray;
        }

        select option {
            padding-left: 0; !important;
        }
    </style>
</head>
<body class="bg-light">
<!-- header -->
<header th:insert="templates/headers :: inRoleHeader ('admin', 'cars')" class="container d-flex flex-row-reverse mt-4 border-bottom"></header>

<!-- body -->
<div class="container mt-5">
    <div class="row">
        <h1 th:text="#{car.list}" class="big-text col-7">Car list</h1>
        <form th:method="GET" th:action="@{/car-rental-service/admin/cars}" action="../all-cars.html" id="filterSortForm" class="col-5 d-flex align-items-center">

            <!-- filters -->
            <select id="filterSelect" class="form-select border-secondary bg-light w-100 h-50 mx-1" aria-label="Filter">
                <option th:text="#{filter}" th:selected="${filterBy} == 'none'" value="none" selected>Filter</option>
                <optgroup th:each="filter : ${filtersMap.entrySet()}" th:with="key=${filter.key}" th:label="${filter.key}" label="optgroup">
                    <option th:each="value : ${filter.value}" th:value="${value}" th:text="${filter.key} + ': ' + ${value}" th:selected="(${filterBy} == ${key}) and (${filterValue} == ${value})">Filter value</option>
                </optgroup>
            </select>
            <input type="hidden" name="filterBy" id="filterBy"/>
            <input type="hidden" name="filterValue" id="filterValue"/>

            <!-- sorts -->
            <select id="sortSelect" class="form-select border-secondary bg-light w-100 h-50 mx-1" aria-label="Sort">
                <option th:text="#{sort}" th:selected="${sortBy} == 'none'" value="none" selected>Sort</option>
                <optgroup th:each="sort : ${sortsMap.entrySet()}" th:with="key=${sort.key}" th:label="${sort.key}" label="optgroup">
                    <option th:each="value : ${sort.value}" th:value="${value}" th:text="${key} + ' ' + (${value} == 'ASC' ? '🡅' : '🡇')" th:selected="(${sortBy} == ${key}) and (${direction} == ${value})">Filter value</option>
                </optgroup>
            </select>
            <input type="hidden" name="sortBy" id="sortBy" />
            <input type="hidden" name="direction" id="direction" />
            <button id="applyButton" class="btn btn-outline-secondary w-100 h-50 mx-2" type="submit">Apply</button>
        </form>
    </div>
</div>

<!-- Car List -->
<div id="carList" class="container mt-5">
    <div class="row">

        <div th:each="car, iterStat : ${cars}" class="car-info col-lg-6 col-md-9 px-3 py-1">
            <div class="row border rounded-2 p-3">
                <div class="col-3 px-2 d-flex align-items-center">
                    <div class="car-icon">
                        <img th:src="@{/statics/images/car.png}" src="../../statics/images/car.png" alt="" srcset="">
                    </div>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-6">
                            <div class="row my-2">
                                <span th:text="#{brand} + ':'" class="col-6 fw-bold">Brand:</span>
                                <span th:text="${car.brand}" class="col-6 text-uppercase">BMW</span>
                            </div>
                            <div class="row my-2">
                                <span th:text="#{name} + ':'" class="col-6 fw-bold">Name:</span>
                                <span th:text="${car.name}" class="col-6 text-uppercase">A6</span>
                            </div>
                            <div class="row my-2">
                                <span th:text="#{segment} + ':'" class="col-6 fw-bold">Segment:</span>
                                <span th:text="${car.segment.name()}" class="col-6">A</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row my-2">
                                <span th:text="#{status} + ':'" class="col-4 fw-bold">Status:</span>
                                <span th:text="${car.status.name()}" class="col-8">NOT_RENTED</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row my-2">
                                <span th:text="#{price.per.day} + ':'" class="col-6 fw-bold">Price per day:</span>
                                <span th:text="${car.pricePerDay} + '$'" class="col-4 fw-bold text-success">$300</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row text-center">
                                <a th:text="#{see.more} + ' >>'" th:href="@{/car-rental-service/admin/cars/{id}(id=${ids.get(iterStat.index)})}" href="#" class="my-2">See more >></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CarList nav -->
    <div th:replace="/templates/paginations :: pagination (${pageNumbers}, ${itemStep}, ${totalPages}, ${page}, ${size})"></div>

<!--    <div id="carList-footer" class="my-5 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">12</a></li>
                <li class="page-item"><a class="page-link" href="#">13</a></li>

                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>-->

</div>

</body>
<script th:inline="javascript">

    // variables
    const form = document.getElementById('filterSortForm');
    const filterSelect = document.getElementById('filterSelect');
    const sortSelect = document.getElementById('sortSelect');

    form.addEventListener('submit', function (event) {
        submitForm(this, event, filterSelect, sortSelect);
    });

</script>
</html>