<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:object="${billDto}">
    <div th:text="'Start date:'"></div>
    <div th:with="startDate=*{startDate}" th:text="${#calendars.format(startDate, 'yyyy-MM-dd')}"></div>
    <div th:text="'Expiration date:'"></div>
    <div th:with="expirationDate=*{expirationDate}" th:text="${#calendars.format(expirationDate, 'yyyy-MM-dd')}"></div>
    <div th:text="'Car price:'"></div>
    <div th:text="*{carPrice}"></div>
    <div th:text="'With driver:'"></div>
    <div th:text="*{withDriver}"></div>
    <div th:text="'Driver price:'"></div>
    <div th:text="*{driverPrice}"></div>
    <div th:text="'Total price:'"></div>
    <div th:text="*{totalPrice}"></div>
</div>

</body>
</html>