<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filters</title>
</head>
<body>
<div th:fragment="filter (id, filtersMap)">
    <select th:id="${id}" th:with="filters=${filtersMap}" class="btn dropdown-toggle btn-outline-secondary w-100 h-50 mx-1" aria-label="Filter">
        <optgroup th:each="filter : ${filters.instanceMap}" th:label="${filter.key}" th:value="${filter.key}" label="optgroup">
            <option value="NONE" selected>Filter</option>
            <option th:with="values=${filter.value}" th:each="value : ${values}" th:value="${value}">Filter value</option>
        </optgroup>
    </select>
</div>

</body>
</html>