<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Headers templates</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<header th:fragment="baseHeader (buttons)" class="container d-flex flex-row-reverse mt-4">
    <div class="col-4 d-flex justify-content-end">
        <div th:switch="${buttons}">
            <div th:case="'buttons'">
                <button type="button" id="signInButton" class="btn btn-outline-dark m-2" th:text="#{sign.in}">Sign in</button>
                <button type="button" id="signUpButton" class="btn btn-outline-dark m-2" th:text="#{sign.up}">Sign up</button>
            </div>
        </div>

        <div class="col-4 d-flex justify-content-end">
            <div class="d-flex flex-column ms-2">
                <a class="language link-dark"  th:href="@{/car-rental-service/international(lang=ua)}" href="#?lang=ua">
                    <span th:text="#{lang.ua}">ua</span>
                    <img class="ms-2" th:src="@{/statics/images/flags/ukraine.png}" th:alt="#{lang.ua.big}" src="../../statics/images/flags/ukraine.png" alt="UA">
                </a>
                <a class="language link-dark" th:href="@{/car-rental-service/international(lang=en)}" href="#?lang=en">
                    <span th:text="#{lang.en}">en</span>
                    <img class="ms-2" th:src="@{/statics/images/flags/usa.svg}" th:alt="#{lang.en.big}" src="../../statics/images/flags/usa.svg" alt="EN">
                </a>
            </div>
        </div>
    </div>
    <a class="col-4 text-secondary text-center text-uppercase fw-normal fs-1 text-decoration-none" th:text="#{website.name.small}" th:href="@{/car-rental-service/index}" href="index.html">car rental service</a>
</header>

</body>
</html>