<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sorts</title>
</head>
<body>
<!-- sorts -->
<select th:fragment="sortSelect (sortsMap, sortBy, direction)" id="sortSelect" class="form-select border-secondary bg-light w-100 h-50 mx-1" aria-label="Sort">
    <option value="none" selected
            th:text="#{sort}"
            th:selected="${sortBy} == 'none'">Sort
    </option>
    <optgroup th:each="sort : ${sortsMap.entrySet()}" th:with="key=${sort.key}" th:label="${sort.key}" label="optgroup">
        <option th:each="value : ${sort.value}"
                th:text="${key} + ' ' + (${value} == 'ASC' ? '🡅' : '🡇')"
                th:value="${value}"
                th:selected="(${sortBy} == ${key}) and (${direction} == ${value})">Filter direction
        </option>
    </optgroup>
</select>
</body>
</html>