<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New order</title>
</head>
<body>

<div th:object="order" th:with="user=${order.user}, car=${order.car}">
    <div th:text="'STATUS:' ${order.status.name()}"></div>

    <div th:text="'USER: '"></div>
    <div th:text="${user.email}">email</div>
    <div th:text="${user.phoneNumber}">email</div>

    <div th:text="'CAR:' "></div>
    <div th:text="${car.name}"></div>
    <div th:text="${car.number}"></div>

    <div th:text="'TOTAL PRICE:' "></div>
    <div th:text="${bill.totalPrice}"></div>
    <div th:text="${bill.startDate.getTime()} ' - ' ${bill.expirationDate.getTime()}"></div>
</div>

</body>
</html>