<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book car</title>
    <link th:href="@{/statics/images/icon.png}" rel="icon" type="image/x-icon" href="../../statics/images/icon.png">
    <script th:src="@{/statics/js/utils/ErrorManager.js}" type="text/javascript" src="../../statics/js/utils/ErrorManager.js"></script>
    <script th:src="@{/statics/js/utils/AddHidden.js}" type="text/javascript" src="../../statics/js/utils/AddHidden.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/statics/css/utils/error.css}" rel="stylesheet" href="../../statics/utils/error.css">
    <link th:href="@{/statics/css/utils/language.css}" rel="stylesheet" href="../../statics/utils/language.css">
    <link th:href="@{/statics/css/utils/links.css}" rel="stylesheet" href="../../statics/utils/links.css">
    <style>
        #bookCarForm {
            width: 40em;
        }
        .car-icon {
            width: 10em;
            height: 4em;
        }

        .car-icon img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    </style>
</head>
<body class="bg-light">
<!-- header -->
<header th:replace="/templates/headers :: inRoleHeader ('user', 'none')"></header>

<!-- body -->
<div class="container mt-5 ">
    <form id="bookCarForm" class="m-auto p-4 border border-2 rounded-2"
          th:method="POST" th:action="@{/car-rental-service/user/cars/{id}/book(id=${id})}">
        <div id="bookCar-header" class="row">
            <div class="col-6">
                <div class="car-icon">
                    <img th:src="@{/statics/images/car.png}" alt="car">
                </div>
            </div>
        </div>
        <div class="mt-5" th:object="${car}">
            <div class="row">
                <span th:text="#{brand} + ':'" class="col-4 fw-bold">Brand:</span>
                <span th:text="*{brand}" class="col-8 text-uppercase">BMW</span>
            </div>
            <div class="row">
                <span th:text="#{number} + ':'" class="col-4 fw-bold">Number:</span>
                <span th:text="*{number}" class="col-8 text-uppercase">aa 111 aa</span>
            </div>
            <div class="row">
                <span th:text="#{name} + ':'" class="col-4 fw-bold">Name:</span>
                <span th:text="*{name}" class="col-8 text-uppercase">x6</span>
            </div>
            <div class="row">
                <span th:text="#{segment} + ':'" class="col-4 fw-bold">Segment:</span>
                <span th:text="*{segment}" class="col-8 text-uppercase">s</span>
            </div>
            <div class="row">
                <span th:text="#{price.per.day} + ':'" class="col-4 fw-bold">Price per day:</span>
                <span th:text="*{pricePerDay}" class="col-8 fw-bold text-success">$300</span>
            </div>

            <div class="form-check mt-5">
                <input th:field="${bill.withDriver}" class="form-check-input" type="checkbox" value="" id="billCheck">
                <label th:text="#{with.driver} + ':'" class="form-check-label fw-bold" for="billCheck">With driver</label>
            </div>
            <div class="row">
                <span th:text="#{driver.price} + ':'" class="col-4 fw-bold">Driver price:</span>
                <span th:text="${bill.driverPrice}" class="col-8 fw-bold text-success">$300</span>
            </div>
            <div class="row">
                <span th:text="#{rent.auto}" class="col-4 fw-bold">Rent auto</span>
                <div class="date col-4">
                    <span th:text="#{from} + ':'" class="col fw-bold">from:</span>
                    <input type="date" class="col" aria-label="Start date" id="startDate"
                           th:field="${bill.startDate}">
                    <span class="error" aria-live="polite"></span>
                </div>
                <div class="date col-4">
                    <span th:text="#{to} + ':'" class="col fw-bold">to:</span>
                    <input type="date" class="col" aria-label="Start date" id="expirationDate" disabled
                           th:field="${bill.expirationDate}">
                    <span class="error" aria-live="polite"></span>
                </div>
            </div>
        </div>
        <div id="bookCar-footer" class="d-flex justify-content-center mt-5">
            <div class="col-3">
                <button th:text="#{book}" class="btn btn-success w-100" type="submit">Book</button>
            </div>
        </div>
    </form>
</div>
</body>
<script th:inline="javascript">
    const form = document.getElementById("bookCarForm");
    const startDate = document.getElementById("startDate");
    const expirationDate = document.getElementById("expirationDate");

    let today = new Date();
    startDate.min = today.toISOString().split("T")[0];
    startDate.max = new Date(today.setMonth(today.getMonth() + 1)).toISOString().split("T")[0];

    startDate.addEventListener('change', function (){
        expirationDate.disabled = startDate.value === '';
        if(!expirationDate.disabled){
            let date = new Date(startDate.value);

            expirationDate.value = new Date(date.setDate(date.getDate() + 1)).toISOString().split("T")[0]
            expirationDate.min = new Date(date).toISOString().split("T")[0];
            expirationDate.max = new Date(date.setMonth(date.getMonth() + 2)).toISOString().split("T")[0];
        } else {
            expirationDate.value = null;
        }
    });

    // functions
    getErrorMessage = (element) => {
        let message = null;

        if (element.validity.valueMissing)
            message = /*[[#{required.error}]]*/ 'This field is required.';
        else if (element.validity.typeMismatch)
            message = /*[[#{invalid.type.error}]]*/ 'This field must match its type.';
        else if (element.validity.patternMismatch)
            message = /*[[#{invalid.structure.error}]]*/ 'This field must match its structure.';
        else if (element.validity.rangeUnderflow || element.validity.rangeOverflow)
            message = /*[[#{invalid.range.error}]]*/ 'Incorrect range of field';

        return message;
    };


    // check errors by input
    const dateArr = [startDate, expirationDate];

    // check errors by submit
    form.addEventListener('submit', function (event) {
        let hasException = onSubmit(dateArr, getErrorMessage);
        if(hasException || expirationDate.disabled) event.preventDefault();
    });
</script>
</html>