<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <style>
        html {
            font-size: 10px;
        }

        body {
            font-size: 1.6em;
            margin: 0;
        }

        h1 {
            margin: 0 auto 10px auto;
            padding: 0;
        }

        .center-block{
            text-align: center;
        }
    </style>
</head>
<body>

<div class="center-block">
    <h1>About us</h1>
    <a th:href="@{/car-rental-service/}" href="index.html">Go back</a>
</div>

</body>
</html>