<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <style>
        html {
            font-size: 10px;
        }

        body {
            font-size: 1.6em;
            margin: 0;
        }

        h1 {
            margin: 0 auto 10px auto;
            padding: 0;
        }

        .center-block{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="center-block">
    <h1 th:text="'Profile: ' + ${role}"></h1>
    <form th:method="POST" th:action="@{/car-rental-service/sign-out}" action="/sign-out">
        <button th:text="Sign-out" type="submit"></button>
    </form>
</div>
</body>
</html>