<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link th:href="@{/statics/images/icon.png}" rel="icon" type="image/x-icon" href="../../statics/images/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"/>
    <link th:href="@{/statics/css/utils/language.css}" rel="stylesheet" href="../../statics/utils/language.css">
    <style>
        .content {
            margin-top: 30vh;
        }

        .big-text {
            font-size: 3.5em !important;
        }

    </style>
</head>
<body class="bg-light">
<!-- header -->
<header th:replace="templates/headers :: baseHeader ('buttons')" class="container d-flex flex-row-reverse mt-4"></header>


<!-- body -->

<div class="content container text-center">
    <h1 class="big-text" th:text="#{greetings}">Greetings!</h1>
    <button type="button" class="col-3 btn btn-outline-dark py-3 mt-5" id="aboutUdButton" th:text="#{about.us}">About us</button>
</div>

</body>

<script th:inline="javascript">
    document.getElementById("signInButton").onclick = function () {
        location.href = /*[[@{/car-rental-service/sign-in}]]*/ "/car-rental-project/src/main/webapp/WEB-INF/views/sign-in.html";
    };

    document.getElementById("profileButton").onclick = function () {
        location.href = /*[[@{/car-rental-service/sign-up}]]*/ "/car-rental-project/src/main/webapp/WEB-INF/views/sign-up.html";
    };

    document.getElementById("aboutUdButton").onclick = function () {
        location.href = /*[[@{/car-rental-service/about-us}]]*/ "/car-rental-project/src/main/webapp/WEB-INF/views/about-us.html";
    };
</script>

</html>