<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up</title>
    <link th:href="@{/statics/images/icon.png}" rel="icon" type="image/x-icon" href="../../statics/images/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/statics/css/utils/error.css}" href="../../statics/css/utils/error.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/statics/js/utils/ErrorManager.js}" src="../../statics/js/utils/ErrorManager.js"></script>
    <style>
        .language img {
            width: 1.5em;
            height: 1em;
        }

        #signUpForm {
            margin-top: 6em;
        }

        .form-title {
            top: -.75em
        }

    </style>
</head>
<body class="bg-light">
<!-- header -->
<header th:replace="templates/headers :: baseHeader ('no-buttons')" class="container d-flex flex-row-reverse mt-4"></header>

<!-- body -->
<div class="container d-flex justify-content-center" id="signUpForm">
    <form th:method="POST" th:action="@{/car-rental-service/sign-up}" th:object="${user}" class="col-5 border-2 border p-4 position-relative rounded" action="common/profile.html" novalidate>
        <h3 th:text="#{sign.up.to.crs}" class="bg-light px-3 position-absolute form-title">Sign up to CRS:</h3>
        <div class="mb-3 mt-5">
            <label th:text="#{first.name}" class="form-label control-label" for="signUpFirstName">First name</label>
            <input th:field="*{firstName}" class="form-control validate rounded-0" id="signUpFirstName" type="text" required>
            <span class="error" aria-live="polite"></span>
        </div>
        <div class="mb-3 mt-5">
            <label th:text="#{last.name}" class="form-label control-label" for="signUpLastName">Last name</label>
            <input th:field="*{lastName}" class="form-control validate rounded-0" id="signUpLastName" type="text" required>
            <span class="error" aria-live="polite"></span>
        </div>
        <div class="mb-3 mt-5">
            <label th:text="#{email}" class="form-label control-label" for="signUpEmail">Email</label>
            <input th:field="*{email}" class="form-control validate rounded-0" id="signUpEmail" type="email" required>
            <span class="error" aria-live="polite"></span>
        </div>
        <div class="mb-3 mt-5">
            <label th:text="#{password}" class="form-label control-label" for="signUpPassword">Password</label>
            <input th:field="*{password}" class="form-control validate rounded-0" id="signUpPassword" type="password" required>
            <span class="error" aria-live="polite"></span>
        </div>
        <div class="mb-3 mt-5">
            <label  th:text="#{phone.number}" class="form-label control-label" for="signUpPhoneNumber">Phone number</label>
            <input th:field="*{phoneNumber}" class="form-control validate rounded-0" id="signUpPhoneNumber" type="tel" required>
            <span class="error" aria-live="polite"></span>
        </div>
        <div>
            <input type="hidden" id="externalError" value="1">
            <span class="error" aria-live="polite"></span>
        </div>
        <button th:text="#{sign.up}" class="btn btn-success w-100 mt-5 rounded-0" type="submit">Sign up</button>
        <div class="registration-footer d-flex justify-content-center mt-3">
            <span th:text="#{dont.have.account}" class="mx-2">Don't have an account?</span>
            <a th:text="#{sign.in}" th:href="@{/car-rental-service/sign-in}" href="sign-in.html" class="mx-2 switch-auth-mode">Sign in.</a>
        </div>
    </form>
</div>
</body>

<script th:inline="javascript">

    // variables
    const form  = document.getElementsByTagName('form')[0];
    const signUpFirstName = document.getElementById("signUpFirstName");
    const signUpLastName = document.getElementById("signUpLastName");
    const signUpEmail = document.getElementById("signUpEmail");
    const signUpPassword = document.getElementById("signUpPassword");
    const signUpPhoneNumber = document.getElementById("signUpPhoneNumber");
    const externalError = document.getElementById("externalError");

    let userAlreadyExistsException = /*[[${userAlreadyExistsException}  == true]]*/ false;

    const emailRegexp = /*[[#{email.regexp}]]*/ "regexp@gmail.com";
    const passwordRegexp = /*[[#{password.regexp}]]*/ "regexp";
    const firstNameRegexp = /*[[#{first.name.regexp}]]*/ "First";
    const lastNameRegexp = /*[[#{last.name.regexp}]]*/ "Last";
    const phoneNumberRegexp = /*[[#{phone.number.regexp}]]*/ "+380501112233";

    signUpFirstName.setAttribute("pattern", firstNameRegexp);
    signUpLastName.setAttribute("pattern", lastNameRegexp);
    signUpEmail.setAttribute("pattern", emailRegexp);
    signUpPassword.setAttribute("pattern", passwordRegexp);
    signUpPhoneNumber.setAttribute("pattern", phoneNumberRegexp);

    const additionalErrors = new Map();
    additionalErrors.set(externalError, userAlreadyExistsException);

    // functions
    getErrorMessage = (element) => {
        let message = null;

        if(additionalErrors.has(element) && additionalErrors.get(element)){
            if(element === externalError)
                message = /*[[#{user.already.exists.exception.exception}]]*/ 'User with such mail already exists.';
        } else {
            if (element.validity.valueMissing)
                message = /*[[#{required.error}]]*/ 'This field is required.';
            else if (element.validity.typeMismatch)
                message = /*[[#{invalid.type.error}]]*/ 'This field must match its type.';
            else if (element.validity.patternMismatch)
                message = /*[[#{invalid.structure.error}]]*/ 'This field must match its structure.';
            else if (element.validity.rangeUnderflow || element.validity.rangeOverflow)
                message = /*[[#{invalid.range.error}]]*/ 'Incorrect range of field';
        }

        return message;
    }

    // check errors on document start
    const errorsMap = new Map();
    errorsMap.set(userAlreadyExistsException, externalError);
    onStart(document, errorsMap);

    // check errors by input
    const elementsArr = [signUpFirstName, signUpLastName, signUpEmail,
        signUpPassword, signUpPhoneNumber, externalError];
    elementsArr.forEach(element => onInput(element, getErrorMessage));

    // check errors by submit
    onSubmit(form, elementsArr, getErrorMessage);

</script>
</html>